
apiVersion: mongodbcommunity.mongodb.com/v1
kind: MongoDBCommunity
metadata:
  name: mongodb-replica-set
  namespace: workout
spec:
  members: 1
  type: ReplicaSet
  version: "6.0.5"
  security:
    authentication:
      modes: ["SCRAM-SHA-256"]
  users:
    - name: workout
      db: admin
      passwordSecretRef:
        name: mongodb-uri
        key: password
      roles:
        - name: clusterAdmin
          db: admin
        - name: userAdminAnyDatabase
          db: admin
        - name: readWriteAnyDatabase
          db: admin
      scramCredentialsSecretName: workout-user-scram
  additionalMongodConfig:
    storage.wiredTiger.engineConfig.journalCompressor: zlib
  statefulSet:
    spec:
      serviceName: mongodb-replica-set-svc
      template:
        spec:
          containers:
            - name: mongod
              resources:
                requests:
                  cpu: 25m
                  memory: 96Mi
                limits:
                  cpu: 75m
                  memory: 192Mi
            - name: mongodb-agent
              resources:
                requests:
                  cpu: 15m
                  memory: 48Mi
                limits:
                  cpu: 45m
                  memory: 96Mi
      volumeClaimTemplates:
        - metadata:
            name: data-volume
          spec:
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 1Gi
